body {
    background-image: url("pencil background.jpg");
    background-size: cover;
}

.heading
{
    margin: 0px;
    width: 100%;
    font-size: 24px;
    box-shadow: 10px 10px 30px rgb(96, 96, 231);
}

.note
{
    font-size: 16px;
    color: black;
}

.copy_right_footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    color: rgb(230, 16, 16);
    font-size: 20px;
    background-color: white;
}

canvas
{
border: 5px solid purple;
border-radius: 15px;
box-shadow: 10px 10px 10px rgb(55, 33, 180);
}